@use './vars' as v;

//Button
button {
  color: v.$action-colour;
  border: 2px solid v.$action-colour;
  border-radius: v.$border-radius-default;
  background: white;

  padding: 0.3rem 0.75rem;

  transition: color v.$transition-time-short ease-in-out, background v.$transition-time-short ease-in-out;

  cursor: pointer;

  box-sizing: border-box;
}

button[disabled] {
  color: v.$disabled-colour;
  border-color: v.$disabled-colour;
  cursor: default;
}

button:not([disabled]):hover {
  color: white;
  background: v.$action-colour;
}

// Sidebar
.Sidebar {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  gap: v.$spacing-default;

  width: 20%;
  max-width: 25rem;
}

// SidebarCard
.SidebarCard {
  background: white;

  padding: v.$spacing-default;

  border-radius: v.$border-radius-default;

  > h1 {
    text-align: center;
  }
  
  > p {
    font-size: 0.85rem;
  }

  > button {
    width: 100%;
    margin: 1px;
  }

  > *:not(:last-child) {
    margin-bottom: v.$spacing-default;
  }
}

//Calendar
.Calendar {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  gap: var(--spacing);

  background-color: white;
  border-radius: v.$border-radius-default;
  padding: v.$spacing-default;

}

.Column {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.Header {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}