@use './vars' as v;
main {
  width: auto;
}

//Button
button {
  color: v.$action-colour;
  border: 2px solid v.$action-colour;
  border-radius: v.$border-radius-default;
  background: white;

  padding: 0.3rem 0.75rem;

  transition: color v.$transition-time-short ease-in-out, background v.$transition-time-short ease-in-out;

  cursor: pointer;

  box-sizing: border-box;
}

button[disabled] {
  color: v.$disabled-colour;
  border-color: v.$disabled-colour;
  cursor: default;
}

button:not([disabled]):hover {
  color: white;
  background: v.$action-colour;
}

// Sidebar
.Sidebar {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  gap: v.$spacing-default;

  width: 20%;
  max-width: 25rem;
}

// SidebarCard
.sidebar-card {
  background: white;

  padding: v.$spacing-default;

  border-radius: v.$border-radius-default;

  > h1 {
    text-align: center;
  }
  
  > p {
    font-size: 0.85rem;
  }

  > button {
    width: 100%;
    margin: 1px;
  }

  > *:not(:last-child) {
    margin-bottom: v.$spacing-default;
  }
}

//Calendar
.calendar {
  background-color: white;
  border-radius: v.$border-radius-default;
  padding: v.$spacing-default;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  gap: var(--spacing);
}

.day {
  &.title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
  }
}

.background-cell {
  border-top: 1px dashed v.$background-colour;

}
// Dropdown
.dropdown {
  display: flex;
  padding: 2px;
  border: 1px solid v.$action-colour;
  border-radius: v.$border-radius-default;

  select {
    padding: 0.3rem 0.75rem;
    border: none;
    appearance: none;
    width: 100%;
    text-align: center;
    background: transparent;
    z-index: 1;
    color: v.$action-colour;
  }
  svg {
    position: absolute;
  }
}