// Colours
$action-colour: #0074D9;
$disabled-colour: #aaaaaa;
$background-colour: #dddddd;

// Animations
$transition-time-short: 0.1s;

// Border-radius
$border-radius-default: 10px;

// Spacing and padding
$spacing-default: 1rem;